<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title><%= title || 'WEPPO' %></title>
	</head>
	<body>
		<header>
			<h1>Radio and checkbox form</h1>
			<hr>
		</header>

		<main>
			<%- body %>
		</main>
	</body>
</html>
