<% options.forEach(option => { %>
	<label>
		<input
			type="checkbox"
			name="<%= name %>[]"
			value="<%= option %>"
			<%= selected.includes(option) ? 'checked' : '' %>
		>
		<%= option %>
	</label>
	<br>
<% }) %>
